<div class="page-header">
  <h3>Funcionários Cadastrados</h3>
</div>

<table class="table table-bordered table-hover" style="background-color:rgba(203, 155, 73, 0.62);">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th style="text-align:center">
        <a href="index.php?modulo=Funcionario&acao=novo">
          <button class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    #REGISTROS#
  </tbody>
</table>
