<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Quero Café!</title>
  <link type="text/css" rel="stylesheet" href="public/css/bootstrap.css">
</head>
<body style="background:url( 'public/images/cafe.jpg');">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.php">Página Inicial</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float:right">
          <li><a href="index.php?modulo=Funcionario&acao=listar">Funcionários</a></li>
        </ul>
        <ul class="nav navbar-nav" style="float:right">
          <li><a href="index.php?modulo=Registro&acao=listar">Pedidos</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    #CONTEUDO#
  </div>

</body>
</html>
